#table-users{
    min-height: 100vh;
}
.pagination-href{
    color: white !important;
    font-weight: 700;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    background: #90a9d6;
    padding:5px 7px;
    text-decoration: none;
}
#div-table-users-id-ajax{
    margin-top: 30px;
}
.pagination-href:hover{
    margin-left: 5px;
    margin-right: 5px;
    background: #5775a8;
    padding:5px 7px;
    text-decoration: none;
}
#pagination-id-ajax{
    margin-top: 30px;
    padding-bottom: 30px;
}
.active-pagination {
    background: #5775a8 !important;
}

.tm-block-title {
    padding: 30px 0px 10px 30px !important;
}